
tr:hover{
 
  background-color: #1f3752;
  cursor:pointer;
}
th{
  color:gray;
  height: 40px;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

 .filmtitle{
    font-size: 25px;
    font-weight: bold;
    color: yellow;
   font-family: 'Merriweather', serif;
 } 

.card-image{
  
     width: 130px;
     margin-right: 20px;
     margin-bottom: 10px;
     height: 150px;
     border:1px solid white;
     object-fit: cover;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover{
  background-color:#0a1929 ;
}

.mat-expansion-panel-header-title {
  color: white;
}

#canvas-box{
  width:100%;
  height: 500px;
   /* height:300px; */
}
.mat-expansion-panel{
  width: 400px;
  background-color:#0a1929 ;
  color: white;
}

::ng-deep .mat-expansion-indicator::after {
  color: white;
  background-color:#0a1929 ;
}
.mat-expansion-panel-header-description {
  color: rgb(183, 183, 183);
  background-color: #0a1929;
}

.chart-card{
  margin: 0 0.5em;

  /* align-self: flex-start; */
  /* height: auto; */
}

.detail-card{
  display: flex;
  position: sticky;
  top: 40px;
  flex-direction: column;
  max-width:fit-content;
  position: -webkit-sticky;
  z-index: 2;
  align-self: flex-start;
  height: auto;
}

.left-block{
  display: flex;
  flex-direction: column;
}
.right-block{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.n-container{
display: flex;
flex-direction: row;
margin-top: 3em;
}
.filmcard{
  background-color:#0a1929 ;
  color: white;
  margin-top: 25px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 10px;
  flex-grow: 1;
}

.weekend{
  background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
  font-size: 1em;
  color: white;
  width: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  text-align: center;
}
table{
  width: 100%;
}

.right-data{
  width: 50%;
  text-align: center;
}
.left-data{
  width: 40%;
  text-align: center;
  border-right: 1px solid #707070;
}

h1{
  font-weight: 800;
  font-size: 2.5em;
  color: cornsilk;
}
.middle-data{
  width: 60%;
  text-align: center;
  border-right: 1px solid #707070;
}
mat-card{
  background-color: #0a1929;
  color: white;
}
.total-datacard{
  width: -webkit-fill-available;
  color: white;
  margin: 10px ;
  font-family: 'Merriweather', serif;
  display: flex;
  z-index: 3;
  flex-direction: row;
  position: sticky;
  top: 5em;
  align-self: flex-start;
  height: auto;

}
.stats-view{
  font-family: 'Merriweather', serif;
  margin: 20px 10px;
}

@keyframes fadeOut {
  0% { opacity: 1;}
  90% { opacity: 0.1;}
  100% { opacity: 0;}
}
.date-box{
  color: black;
  font-size: 1em;
  width: fit-content;
  background-color: cornsilk;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 30px;
  text-align: center;
}

.data-row{

  margin: 10px 0px;
}

.show-box{
  width: 50%;
  margin: 10px 10px;
  font-size: 2em;
  text-align: center;
}
.viewer-box{
width: 60%;
margin: 10px 10px;
font-size: 2em;
}
.percentage-box{
  
width:50%;
}
.progress-bar{
  position: relative;
  background-color: white;
  width: 100%;
  height: 50%;
  border-radius: 30px;
  margin-top: 10px;
  color: black;
}
.progress-digit{
  color: black;
  z-index: 2;
}
.progress-val{
  
  width: 100%;
  text-align: center;
  background-color: wheat;
  border: 0px;
  position: absolute;
  height: 100%;
}
.amount-box{
  text-align: center;
width: 50%;
margin: 10px 10px;
font-size: 2em;

}

.stats-container{
  border-bottom: 1px solid #707070;
  margin-top: 10px;
  transition: all 200ms;
}
.stats-container:hover{
  background-color: #73777b4e;
  cursor: pointer;
  transform: translateY(-10%);
  transform-origin: bottom;
}
.footer-total{
  box-sizing: border-box;
  display: flex;
  color:khaki;
  font-size: 2em;
  font-weight: 600;
  padding: 10px;
  justify-content: flex-end;
}
.card-3{
  margin-bottom: 10px;
}

.skeleton-date{

  background-color: #707070;
  width: 10%;
  height: 20px;
  border-radius: 30px;
}

.fade-in{
  animation: fade 200ms ease-in-out;
}

@keyframes fade {

  from{
    opacity: 0;
  }
  to{
    
    opacity: 1;
  }
  
}
td,th{
border: none;
}
tr{
  text-align: center;
}
.theatre{
  font-size: 1em;
  color: white;
}
.theatre-name{
  font-size: 1em;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label {
 color: white;
  }

.theatre-price{
  font-weight: 500;
  font-size: 1.2em;
  color: wheat;
}
.mat-tab-label-active{
  color: white;
}
.theatre-container{
  display: flex;
  padding: 10px;

}
.img-logo{
  width: 30px;
  height: 30px;
  padding-bottom: 5px;
  margin-right: 3px;
}


@media screen and (max-width:800px) and (min-width:300px) { 

  .mat-expansion-panel{
    width: 100%;
  }


  .stats-view{
    margin-top:0px;
    margin-bottom: 10px;
  }

  .img-logo{
    width: 25px;
    height: 25px;
  }
  .detail-card{
    max-width: 100%;
  }
  table th{
   padding: 5px;
   font-size: 0.8em;
  }

  h1{
    font-size: 1.5em;
  }

  .amount-box,.show-box,.viewer-box,.footer-total{
    font-size: 1em;
  }
  .theatre{
    font-size: 0.8em;
  }
  .footer{
    bottom: 0%;
  display: relative;
  width: 100%;
  }
  .theatre-name{
    font-size: 0.8em;
  }
  .theatre-price{
    font-weight: 400;
    font-size: 1em;
  }

  .n-container
  {
  display: block;
  }

}
@media screen and (max-width:300px) { 

  .n-container
  {
  display: block;
  }

  table th,td{
    font-size: 0.6em;
   }

   .detail-card{
    max-width: 100%;
  }
  h1{
    font-size: 1em;
  }

  .amount-box,.show-box,.viewer-box{
    font-size: 1em;
  }
  .mat-expansion-panel{
    width: 100%;
  }

}
