::placeholder{
  color: rgba(239, 239, 239, 0.342);
}
.maincontainer {
  padding-left: 10px;
  background-color: inherit;
  padding-right: 10px;
 
}
.sidenav{
  background-color: inherit;
  padding-right: 10px;
}

.filtercard{
  background-color: #0a1929 ;
  color: white;
  margin-top: 25px;
  width:200px
}
.list{
display: flex;
flex-wrap: wrap;
flex-direction: column;
}

.cardtitle{
  text-align: center;
  font-size: 2.5em;
   font-family: 'Merriweather', serif;
   font-weight:bolder;
   color: white;
   margin-bottom: 20px;
   margin-top: 20px;
}
#card-image {
  max-width:100%;
  max-height:100%;
  height: auto;
    opacity: 1;     
  }

  mat-grid-tile-footer{
    min-height: 70px; 
    font-family: 'Trebuchet MS', sans-serif;
  }
.maincard{
  background-color: #0a1929 ;
 margin-top: 25px;
 width: 100%;
 margin-bottom: 10px;
 min-height:40em;
}
.foottext{ 
  scale: 100%;
}
.image-card{
  scale: 100%;
  opacity: 1;
  border: 0;
  transition: 300ms ease-in-out;
}
.image-card:hover{
  /* transform-origin: top; */
  z-index: 10;
  border: 20px solid rgb(0, 0, 0);
  /* transform: scale(110%); */
  opacity: 0.5;
}


.mycard :hover{
    /* opacity: 0.5;     */
}

.mycard{
  opacity: 1;
  height: 100%;
}

a{
text-decoration: none;
color: white;
}

.ffd{
  animation: ffd 1s;
}
@keyframes ffd {

  from { 
    transform: scaleY(100%)
  }
  to { 
    transform: scaleY(110%)
  }
  
}


.fade{
  animation: myanimation 300ms ease-in-out;
}

@keyframes myanimation {

  from { 
    opacity: 0;  
  }
  to { 
    opacity: 1;
  }
  
}

.icondiv mat-icon{
  font-size:100%;
  margin-right: 0.8em;
  color: rgba(239, 239, 239, 0.342);
  
}

.search{
  display: inline-flex;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-position: 1px center;
    /* border: 1px solid rgba(204, 204, 204, 0.315); */
}
.noresult{
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 2em;
  width: 100%;
  padding: 5rem;
  text-align: center;

}



@media screen and (max-width:700px) and (min-width:300px) { 

  .search{

    font-size: 0.6em;
  }

  .noresult{
    font-size: 0.6em; 
  }
  .filtercard{
    margin-top: 25px;
    width:80px
  }
  .cardtitle{
   
    
     margin-bottom: 20px;
     margin-top: 10px;
  }
}
@media screen and (max-width:300px) { 

  .search{

    font-size: 0.3em;
  }
  .noresult{
    font-size: 0.3em; 
  }
  .filtercard{
    margin-top: 25px;
    width:60px
  }
}