
#logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 5px;
    z-index: 3;
    border: 5px solid #303d4a;

}


.navibar{   
   background-color: #0a1929;
   height: 60px; 
   opacity: 1;
   padding-left: 20px;  
}
.sticky{
    position:sticky;
    top:0;
    background-color: #0a1929;
    height: 60px; 
    z-index: 5;
}



