::placeholder{
  color: rgba(239, 239, 239, 0.342);
}
.maincontainer {
  padding-left: 10px;
  background-color: inherit;
  padding-right: 10px;
  margin-top: 4em;
 
}
.sidenav{
  background-color: inherit;
  padding-right: 10px;
}

.filtercard{
  background-color: #0a1929 ;
  color: white;
  margin-top: 25px;
  width:200px
}
/* .list{
display: flex;
flex-wrap: wrap;
flex-direction: column;
} */

.cardtitle{
  text-align: center;
  font-size: 2.5em;
   font-family: 'Merriweather', serif;
   font-weight:bolder;
   color: white;
   margin-bottom: 20px;
   margin-top: 20px;
}
#card-image {
  max-width:100%;
  max-height:100%;
  height: auto;
    opacity: 1;     
  }

  mat-grid-tile-footer{
    font-family: 'Trebuchet MS', sans-serif;
  }
.maincard{
  background-color: #0a1929 ;
 margin-top: 25px;
 width: 100%;
 margin-bottom: 10px;
 min-height:40em;
}
.foottext{ 
  scale: 100%;
}
.image-card{
  scale: 100%;
  opacity: 1;
  border: 0;
}


.mycard{
  opacity: 1;
  height: 100%;
  z-index: 0;
  transition: transform 300ms ease-in-out;

}

.mycard:hover{
    opacity: 0.5;    
    transform: scale(90%) ;
    z-index: 5;
}



a{
text-decoration: none;
color: white;
}

.ffd{
  animation: ffd 1s;
}
@keyframes ffd {

  from { 
    transform: scaleY(100%)
  }
  to { 
    transform: scaleY(110%)
  }
  
}


.fade{
  animation: myanimation 200ms ease-in-out;
}

@keyframes myanimation {

  from { 
    opacity: 0;  
  }
  to { 
    opacity: 1;
  }
  
}

.icondiv mat-icon{
  font-size:110%;
  margin-right: 0.2em;
  color: rgba(239, 239, 239, 0.342);
  
}

.search{
  display: inline-flex;
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-position: 1px center;
    /* border: 1px solid rgba(204, 204, 204, 0.315); */
}
.hide{
  display: none;
}
.noresult{
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
  font-size: 2em;
  width: 100%;
  padding: 5rem;
  text-align: center;
}

mat-spinner{
  margin: 0 auto;
  margin-top: 100px;
}

.mat-grid-tile-footer{
  background: rgba(0,0,0,.60);
  }

@media screen and (max-width:700px) and (min-width:300px) { 


  .search{

    font-size: 0.4em;
  }
  .icondiv mat-icon{
    font-size:80%;
    margin-right: 0em;
    color: rgba(239, 239, 239, 0.342);
    
  }

  .noresult{
    font-size: 1em; 
  }
  .filtercard{
    margin-top: 25px;
    width:80px
  }
  .cardtitle{
   
    
     margin-bottom: 20px;
     margin-top: 10px;
  }

  mat-spinner{
    margin: 0 auto;
    margin-top: 50px;
  }
 


}
@media screen and (max-width:300px) { 

  .search{

    font-size: 0.3em;
  }
  .noresult{
    font-size: 0.5em; 
  }
  .filtercard{
    margin-top: 25px;
    width:60px;
  }

  mat-spinner{
    margin: 0 auto;
    margin-top: 50px;
  }

  .icondiv mat-icon{
    font-size:70%;
    margin-right: 0em;
    color: rgba(239, 239, 239, 0.342);
    
  }
}