<!--mat-progress-spinner mode="indeterminate"></mat-progress-spinner-->
<mat-drawer-container class="maincontainer" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-card class="filtercard">Filters<br><br>
      <span>Year</span>
      <hr style="border-top: 0.5px solid white;">

      <input type="radio" id="year4" name="radiofilter" (change)="chechBox('')"> All<br>
      <input type="radio" id="year" name="radiofilter" (change)="chechBox('2022')"> 2022<br>
      <input type="radio" name="radiofilter" id="year2" (change)="chechBox('2021')"> 2021<br>
      <input type="radio" name="radiofilter" id="year3" (change)="chechBox('2020')"> 2020<br>
    </mat-card>
  </mat-drawer>

  <mat-card ngClass="maincard">
    <div class="cardtitle">
      <button mat-icon-button style="float:left;color:white;" type="button" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      Films
    </div>
    <mat-grid-list ngClass="list" cols="10" rowHeight="100px" >
      <mat-grid-tile ngClass="mycard" style="margin-left: 5px;" *ngFor="let post of posts|async" colspan="2" rowspan="3">
        
        <a routerLink="/film/{{post.film_id}}">
            <img  id="card-image"
              src="https://in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/{{post.cover_url}}.jpg" alt="{{post.film_name}}">

            <br>
           
          
        <mat-grid-tile-footer>{{post.film_name}}<br>
          {{post.release_date}}</mat-grid-tile-footer>
      </a>
          
    
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</mat-drawer-container>

<h4 style="text-align: center;">© 2022 FlipTrack</h4>