<!--mat-progress-spinner mode="indeterminate"></mat-progress-spinner-->
<mat-drawer-container class="maincontainer" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-card class="filtercard">Filters<br><br>
      <span>Year</span>
      <hr style="border-top: 0.5px solid white;">

      <input type="radio" id="year4" name="radiofilter" (change)="chechBox('')"> All<br>
      <input type="radio" id="year" name="radiofilter" (change)="chechBox('2022')"> 2022<br>
      <input type="radio" name="radiofilter" id="year2" (change)="chechBox('2021')"> 2021<br>
      <input type="radio" name="radiofilter" id="year3" (change)="chechBox('2020')"> 2020<br>
      
    </mat-card>
  </mat-drawer>

  <mat-card  ngClass="maincard">
    <div class="cardtitle">
      <div>
        <div style="float: left;">
      <button mat-icon-button class="icon" style="float:left;color:white;" type="button" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div><div class="icondiv" style="font-size: none;display: inline-flex;"><mat-icon>search</mat-icon></div>
    <div style="display: inline-block;">
        <input autocomplete="off" ngClass="search" matInput (keyup)="applyFilter($event)" placeholder="Movie name, genre, date" #input>
      </div>
      
    </div>
        <!-- <button class="material-symbols-outlined">
          search
        </button> -->
      <br>
      <!-- Films -->
    </div>
    <mat-grid-list  ngClass="list" rowHeight="1:1.51" [cols]="cols" (window:resize)="resposive()" >
       <div ngClass="noresult" [style]="{'display': is_result}" >No result found</div>
<!-- Maintenance part -->
       <!-- <div style="color: wheat;text-align: center;margin-top: 100px;font-weight: 500;font-size: 2em;" class="noresult-spinner"  *ngIf="(films|async) != null ">
        <img style="width: 80px;height: 80px;margin: 20px;" src="../../assets/icons/warning.png"><br>
        Website Under Maintenance<br><br>
        <h4>Will be back soon</h4>
         <mat-spinner diameter={{spinner_diameter}} color='accent' >
        </mat-spinner>
        </div> -->
<!-- End maintenance -->
      <mat-grid-tile ngClass="mycard fade" style="margin-left: 5px;height:calc(0vh - 24px);" *ngFor="let post of films" >
        
       
        <div class="image-card" >
        
        <a routerLink="/film/{{post.film_id}}">
          
          <img id="card-image"
              src="https://in.bmscdn.com/iedb/movies/images/mobile/thumbnail/xlarge/{{post.cover_url}}.jpg" alt="{{post.film_name}}">
            
            <br>
            <mat-grid-tile-header style="background: rgba(0,0,0,.60)">
              {{post.full_name}}
            </mat-grid-tile-header>
          <div class="foottext">
        <mat-grid-tile-footer style="flex-direction: column;justify-content: center;background: rgba(0,0,0,.60);">
          {{post.release_date}}
          <div class="chip" style="display: flex;">
       <div *ngIf="post.dateDiff>0">
        <div class="badge badge-pill badge-success" style="font-weight: 500;">Upcoming</div>
       <div class="badge badge-pill badge-success" style="font-weight: 500;margin-left: 5px;">{{post.dateDiff}} Day<span *ngIf="post.dateDiff>1">s</span></div>
      </div>
      <div class="badge badge-pill bg-danger" style="font-weight: 500;margin-left: 5px;text-transform:capitalize;" *ngIf="post.film_status!='active'">{{post.film_status}}</div>
      <!-- <div class="badge badge-pill bg-success" style="font-weight: 500;margin-left: 5px;text-transform:capitalize;" *ngIf="post.top!=0">Top {{post.top}}</div> -->
    </div> 
      </mat-grid-tile-footer>
       
        </div>
      
      </a>
     
      
    </div>
    
      </mat-grid-tile>
      
    </mat-grid-list>
  </mat-card>
</mat-drawer-container>

<footer>
    <app-footer></app-footer>
</footer>
